<?xml version="0.0" ?>
<robot name="adream_empty">

  <link name="walls">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value=".0"/>
       <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="1.57075 0 0" xyz="0 0 0"/>
      <geometry>
				<mesh filename="obj/adream_empty.obj" scale="1 1 1"/>
      </geometry>
       <material name="gray">
        <color rgba="0.8 0.8 0.8 1"/>
      </material>
    </visual>
  </link>

  <link name="floor">
  <contact>
      <lateral_friction value="1"/>
  </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value=".0"/>
       <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 10 0"/>
      <geometry>
				<mesh filename="obj/plane.obj" scale="1 1 1"/>
      </geometry>
       <material name="gray">
        <color rgba="0.8 0.8 0.8 1"/>
      </material>
    </visual>
    <collision>
      <contact_coefficients mu="1000.0" kp="0.00" kd="0.0"/>
      <origin rpy="0 0 0" xyz="0 0 0.000"/>
      <geometry>
	 	   <box size="200 200 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="walls_to_floor" type="fixed">
    <parent link="walls"/>
    <child link="floor"/>
  </joint>

</robot>
